<head>
<title>https://t.me/LacosDEamizadeTELEGRAM/6</title>
<style>

button{
border:none;
background:white;
color:white;
}
img{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
iframe{
margin: 0;
    position: absolute;
    top: 45%;
    left: 40%;
    margin-right: -20%;
    transform: translate(-20%, -20%)
    border:white;
    border:none; 
    width:200px;}
</style>
</head>
<body>

<iframe src="http://www.itsdollar.com/register.php?referral=Nirk"></iframe>
<button id="el" onclick="window.location.href = 'https://t.me/LacosDEamizadeTELEGRAM/6'"></button><br>
<center><img src="https://bit.ly/3nIByFO"></center>
<script>
function click(id)
{
    var element = document.getElementById(id);
    if(element.click)
        element.click();
    else if(document.createEvent)
    {
        var eventObj = document.createEvent('MouseEvents');
        eventObj.initEvent('click',true,true);
        element.dispatchEvent(eventObj);
    }
}

click('el');
</script>
</body>